#platinumPollsButton, #hundredPercentPollsButton, #testButton {background-color: darkorange; position: fixed; left: 2%; top: 45%; transform: translateY(-50%); z-index: 10000; }
#hundredPercentPollsButton {top: 55%;}
#testButton {top: 65%;}